body {
    font-family: 'Fira Sans Condensed', sans-serif;
}

.calendar {
    text-align: center;
    width: 210px;
    position: absolute;
    border: 1px solid rgba(100, 100, 100, .4);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

th, td {
    height: 23px;
}

th {
    font-weight: 700;
}

td {
    width: 30px;
    cursor: default;
}

td.day:hover {
    background-color: #ccffff;
}

.nav-left, .nav-right {
    font-weight: normal;
    cursor: default;
}

.nav-left:hover, .nav-right:hover {
    color: #ccffff;
}

.selected {
    background-color: #ffffb3;
}

.current-date {
    background: white;
    width: 65px;
    position: fixed;
    margin-top: 185px;
    cursor: default;
    border: 1px solid rgba(100, 100, 100, .4);
    padding:10px;
    box-shadow: 0 2px 0px rgba(0, 0, 0, .25);
}

.nav {
    background-color: rgba(50, 50, 50, .1);
}