.calendar {
    text-align: center;
    width: 210px;
    position: absolute;
    padding: 5px 0;
}

th, td {
    height: 23px;
}

th {
    font-weight: 700;
}

td {
    width: 30px;
    cursor: default;
}

td.day:hover {
    background-color: #ccffff;
}

.nav-left, .nav-right {
    font-weight: normal;
    cursor: default;
}

.nav-left:hover, .nav-right:hover {
    color: #ccffff;
}