body {
    font-family: 'Fira Sans Condensed', sans-serif;
}

.calendar {
    background: white;
    text-align: center;
    width: 210px;
    height: 188px;
    position: absolute;
    padding-top: 5px;
    border: 1px solid rgba(100, 100, 100, .4);
    border-top: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.shifted {
    margin-left: 106px;
}

th, td {
    height: 23px;
}

th {
    font-weight: 700;
}

td {
    width: 30px;
    cursor: default;
}

td.day:hover {
    background-color: #ccffff;
}

.nav-left, .nav-right {
    font-weight: normal;
    cursor: default;
}

.nav-left:hover, .nav-right:hover {
    color: #ccffff;
}

.dates {
    display: flex;
}

.current-date, .next-date {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 104.5px;
    height: 32px;
    cursor: default;
    border: 1px solid rgba(100, 100, 100, .4);
}

.next-date {
  border-left: none;
}

.hidden {
    display: none;
}

.selected {
    background: rgb(240, 240, 240);
}

.checkin {
    background: rgb(230, 230, 230);
}

.checkout {
    background: rgb(200, 200, 200);
}

.close {
    cursor: default;
    margin-left: 20px;
    padding-top: 10px;
}

.close:hover {
    color: #ccffff;
}